#navigator {
	width : 100%;
	height: 50px;
	background: #333333;
	color: #ffffff;	
	position: fixed;
	top: 0; left: 0;
}

#navigator * {
	float: right;
	margin-right: 15px;
	padding: 6px;
}

#search {
	/* top: 8.5px; */
	line-height: 200%;
	background: #555555;
	height: 20px;
	border-radius: 6px;
	border: none;
	font-size: 15px;
}

.sign {
	line-height: 200%;
	color: #eeeeee;
	/* top: 10px; */
}

#header {
	width: 1024px; 
	height: 500px;
	background: #ddddff;
	margin: auto;
}

#main {
	width: 1024px;
	height: 1024px;
	margin: auto;
}

#menu {
	width: 160px;
	height: 1024px;
	background: #38B0DE;
	float: left;
}

#recommends {
	width: 864px;
	height: 1024px;
	float: left;	
}

.unit {
	width: 284px;
	height: 252px;
	float: left;
	border: 2px black solid;
	background: #FF2400; 
}

#info {
	width: 100%;
	height: 60px;
	background: #000000;
	color: #ffffff;
}
