.pull_left {
	float: left;
}

.pull_right {
	float: right;
}

#navigator {
	z-index: 90;
	width : 100%;
	height: 50px;
	position: fixed;
	top: 0; left: 0;
	background: #000000;
	opacity: 0.85;
}

#search {
	height: 16px;
	width: 170px;
	margin-right: 30px; padding: 6px;
	margin-bottom: 4px;
	border-radius: 6px; border: none;
	background: #555555;
	color: #888888;
}

#navBars {
	line-height: 46px;
	float: right;
}

.sign {
	margin-right: 15px; 
	color: #eeeeee;
	text-decoration: none;
}

#header {
	z-index: 10;
	width: 1024px; 
	height: 400px;
	background: #ddddff;
	margin: auto;
}

#myCanvas {
	z-index: 10;
	position: relative;
	top: -60px;
}

#main {
	position: relative; /* enable z-index function */
	z-index: 50;        /* only functions when position is not static */
	width: 1024px;
	height: 1024px;
	margin: auto;
	background: #99ff99;
}

#menu {
	width: 160px;
	height: 1024px;
	background: #38B0DE;
}

#recommends {
	width: 864px;
	height: 1024px;
}

.unit {
	width: 284px;
	height: 252px;
	float: left;
	border: 1px black solid;
}

#info {
	width: 100%;
	height: 60px;
	background: #000000;
	color: #ffffff;
}
