<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/home.css"></link>
    	<script type="text/javascript" src="widget/bubble/alphabet.js"></script>
</head>

<body ng-app="app" ng-controller="appCtrl" ng-click="clicks($event)">
	<div id="navigator" ng-click="navClicks($event)">
		<div id="navBars" class="pull_right">
			<!-- <img>search icon</img> -->
			<input id="search" type="text" value="搜索一下" />
			<a id="signin" class="sign" href="javascript:;">登录</a>
			<a id="signup" class="sign" href="signup.html">注册</a>
		</div>
	</div>
	<div id="header">
    		<canvas id="myCanvas"></canvas>
    		<script type="text/javascript" src="widget/bubble/bubbles.js"></script>
    		<script type="text/javascript" src="widget/bubble/main.js"></script>
	</div>
	<div id="main">
		<div id="menu" class="pull_left">menu</div>
		<!--
		<div id="recommends">
			<div id="r1" class="unit">1</div>
			<div id="r2" class="unit">2</div>
			<div id="r3" class="unit">3</div>
			<div id="r4" class="unit">4</div>
			<div id="r5" class="unit">5</div>
			<div id="r6" class="unit">6</div>
			<div id="r7" class="unit">7</div>
			<div id="r8" class="unit">8</div>
			<div id="r9" class="unit">9</div>
			<div id="r10" class="unit">10</div>
			<div id="r11" class="unit">11</div>
			<div id="r12" class="unit">12</div>
		</div>
		-->
	</div>
	<br><br>
	<div id="info">copyrights and contacts</div>
	
</body>

</html>

<script>
	var app = angular.module("app", []);
	app.controller("appCtrl", function($scope) {
		$scope.clicks = function(evt) {   // handles #search ui display of FOCUSED and UNFOCUSED state
			if (evt.target !== search) {
				if ($('#search').val() == "") {
					$('#search').val("搜索一下");
				}
				$('#search').css({"background": "#555555", "color": "#888888"});
			} else {
				if ($('#search').val() == "搜索一下") {
					$('#search').val("");
				}
				$('#search').css({"background": "#eeeeee", "color": "#000000"});
			}
		}
	});

</script>
